<h2>Who Are We?</h2>

<p>
  Concert Rater(placeholder for app name) allows you to rate your concert experience. There are not limits here. Whether your listen to Flogging Molly or Arijit Singh, we are interested in hearing about your experience. Make sure to provide as many details as possible and don't forget to upload your pictures!
</p>
<hr>

{{#link-to 'index'}}Home{{/link-to}}
