<header>
  <h1 class="logo">RisingRiffs</h1>
</header>
<div class="navbar navbar-inverse">
</div>
{{outlet}}
<br>
<footer>

  <hr>
  <br>
  <br>
  <h1>“you were only waiting for this moment to arise”</h1>
  <h1> -The Beatles</h1>
</footer>
